<div class="col mb-4" align="center">
    <div class="card" style="width: 19rem;">
        <img class="card-img-top" src="https://d24zusojdnpjps.cloudfront.net/{{estudiantes.cedula}}.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{estudiantes.nombre}} {{estudiantes.apellido}}</h5>
            <p class="card-text">Cedula: {{estudiantes.cedula}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Dirección: {{estudiantes.direccion}}</li>
            <li class="list-group-item">telefono: {{estudiantes.telefono}}</li>
            <li class="list-group-item">Institución: {{estudiantes.institucion}}</li>
            <li class="list-group-item">{{estudiantes.correo}}</li>
        </ul>
        <audio src="https://d3n5fwxtuyi2o9.cloudfront.net/{{estudiantes.cedula}}.mp3" type="audio/mpeg" controls="controls" type="audio/mpeg" preload="preload">
        </audio>
        <div class="card-body">
            <button (click)="verCedula()">Buscar</button>
        </div>
    </div>
</div>