<div class="col mb-4">
    <div class="card animated fadeIn fast">
        <div class="card-body">
            <h5 class="card-title">Nombre Estudiante: {{estudiantes.nombre}}</h5>
            <p class="card-text">Apellido: {{estudiantes.apellido}} - telefono: {{estudiantes.telefono}}</p>
            <p class="card-text">Cedula:{{estudiantes.cedula}} </p>
            <p class="card-text">Direccion:{{estudiantes.direccion}} </p>
            <p class="card-text">{{estudiantes.corre_electronico}} </p>
            <button type="button" class="btn btn-outline-primary block">ver más</button>
        </div>
    </div>
</div>